<html>
    <head>
        <title>Cetak</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
            body{
                font-family: 'Poppins', sans-serif;
                color: #2c3e50;
                margin: 0;
                padding: 0;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <div id="all" style="display: none">
        <table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th >No.</th>
                    <th >Nama</th>
                    <th>Tempat Lahir</th>
                    <th >Tanggal Lahir</th>
                    <th >Alamat</th>
                    <th >Pekerjaan</th>
                    <th >Riwayat Penyakit - Lama Sakit (Hari)</th>
                    <th >Gejala Fisik</th>
                    <th >Gejala Psikis</th>
                    <th>Gejala Perilaku Buruk</th>
                    <th>Gejala Kusioner Regulasi Emosi</th>
                    <th>Skor</th>
                    <th >Scan Wajah</th>
                    <th >Emosi</th>
                </tr>
               
            </thead>
            <tbody>
                <% for(let i =0; i < respon.length; i++){%>
                <tr>
                    <td><%= i+1%></td>
                    <td><%= respon[i].nama%></td>
                    <td><%= respon[i].tempatLahir%></td>
                    <td><%= respon[i].tanggalLahir%></td>
                    <td><%= respon[i].alamat%></td>
                    <td><%= respon[i].pekerjaan%></td>
                    <td>
                        <ul>
                            <%if(respon[i].poolPenyakits){%>
                            <% for(let a =0; a < respon[i].poolPenyakits.length; a++){
                                if(respon[i].poolPenyakits[a].lamaSakit>0){
                                %>
                                
                                <li><%=respon[i].poolPenyakits[a].Penyakit.namaPenyakit%> - <%=respon[i].poolPenyakits[a].lamaSakit%> Hari</li>
                                <%}}%>
                                <%}%>
                        </ul>
                      
                    </td>
                    <td > <ul>
                        <%if(respon[i].PoolGejalaFisiks){%>
                        <% for(let a =0; a < respon[i].PoolGejalaFisiks.length; a++){
                            if(respon[i].PoolGejalaFisiks[a].status!=0){
                            %>
                            
                            <li><%=respon[i].PoolGejalaFisiks[a].GejalaFisik.namaGejalaFisik%></li>
                            <%}}%>
                            <%}%>
                    </ul>
                
                </td>
                    <td>
                        <ul>
                            <%if(respon[i].PoolGejalaPsikis){%>
                            <% for(let a =0; a < respon[i].PoolGejalaPsikis.length; a++){
                                if(respon[i].PoolGejalaPsikis[a].status!=0){
                                %>
                                <%if(respon[i].PoolGejalaPsikis[a].GejalaPsiki){%>
                                <li><%=respon[i].PoolGejalaPsikis[a].GejalaPsiki.namaGejalaPsikis%></li>
                                <%}%>
                                <%}}%>
                                <%}%>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <%if(respon[i].PoolGejalaPerilakus){%>
                            <% for(let a =0; a < respon[i].PoolGejalaPerilakus.length; a++){
                                if(respon[i].PoolGejalaPerilakus[a].status!=0){
                                %>
                                
                                <li><%=respon[i].PoolGejalaPerilakus[a].GejalaPerilakuBuruk.namaGejalaPerilaku%></li>
                                <%}}%>
                                <%}%>
                        </ul>
                    </td>
                    <td> <ul>
                        <% 
                        let skor = 0
                        if(respon[i].poolPernyataans){
                        
                        for(let a =0; a < respon[i].poolPernyataans.length; a++){
                            if(respon[i].poolPernyataans[a].pernyataan){
                            %>
                            
                            <li><%=respon[i].poolPernyataans[a].pernyataan.isiPernyataan+' '%>:
                        <%=(respon[i].poolPernyataans[a].status==1)?'Tidak Pernah':(respon[i].poolPernyataans[a].status==2)?'Jarang':(respon[i].poolPernyataans[a].status==3)?'Sering':'Selalu' %>
                            
                            </li>
                            <%
                        }
                            skor+=respon[i].poolPernyataans[a].status;
                        }%>
                        <%}%>
                    </ul></td>
                    <td><%=skor%></td>

                    <td>
                        <%if(respon[i].poolFotoWajahs.length>0){%>
                        http://sideku.org:8841/hasilprediksi/<%= respon[i].poolFotoWajahs[0].namaFile%>
                    <%}%>
                    </td>
                    <td>
                        <%if(respon[i].poolFotoWajahs.length>0){%>
                        <%= respon[i].poolFotoWajahs[0].emosi%>
                        <%}%>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
    </body>
</html>

<script type="text/javascript">
  
  
  
    //getting data from our table
    var data_type = 'data:application/vnd.ms-excel';
    var table_div = document.getElementById('all');
    var table_html = table_div.outerHTML.replace(/ /g, '%20');
    
    var a = document.createElement('a');
    a.href = data_type + ', ' + table_html;
    a.download = 'Side <%=a%>-<%=b%> --' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
    a.click();
    setTimeout("window.close();", 5000);
    // window.close();
    // location.href('/manajemen_paket_pekerjaan')
    </script>